<app-book [book]="newBook" (saveEmitter)="saveBook()"></app-book>

<div class="container">
  <h3>Livros Cadastrados</h3>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th class="text-end">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author | uppercase}}</td>
          <td>{{book.price}}</td>
          <td class="text-end"><button class="btn btn-success" (click)="updateBook(book)">Alterar</button> | <button class="btn btn-danger" (click)="removeBook(book)">Remover</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
